.widgets{
    flex:0.3;
    padding: 10px;
}
.widgets_input{
    display:flex;
    align-items: center;
    background-color: var(--twitter-background);
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.widgets_searchIcon{
    margin-right: 10px;
}
.widgets_input > input{
    flex:1;
    border-radius: 20px;
    border: none;
    background-color: var(--twitter-background);
    font-size: 16px;
    padding: 5px;
}
.widgets_widgetscontainer{
    background-color: var(--twitter-background);
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
}